body {
    background-image: url('https://i.pinimg.com/736x/9f/88/e7/9f88e746fcd18239a2dffcf6945af930.jpg');
    background-repeat: no-repeat;
    background-color: rgba(255,255,255,0.6);
    background-blend-mode: lighten;
    background-size:cover;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin:8px;
    padding: 8px;
}
#entry_form {
    text-align: center;
    border: 3px solid black;
    flex: auto;
    margin: 12px;
    padding: 12px;
    background-color: rgba(255,255,255,.6);
}

* {font-family: Orbitron}

@media  (max-width: 430px) {
    body {
        background-image: url('https://i.pinimg.com/736x/9f/88/e7/9f88e746fcd18239a2dffcf6945af930.jpg');
        background-repeat: no-repeat;
        background-color: rgba(255,255,255,0.6);
        background-blend-mode: lighten;
        background-size:cover;
    }
    #wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        margin:8px;
        padding: 8px;
    }
    #entry_form {
        text-align: center;
        border: 3px solid black;
        flex: auto;
        margin: 12px;
        padding: 12px;
        margin-top: 200px;
        background-color: rgba(255,255,255,.6);

    }
    
}